<!DOCTYPE html>
<html>
<head>
  <title>Gaëtan Michon</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  	img {
      margin: 0 auto;
    }
    .row {
      text-align: center;
      margin-top: 25px;
    }
    p {
      text-align: left;
    margin: 20px 0;
    }
    .bottom-paragraph {
      margin-bottom: 60px;
    }
    h1 {
      text-align: center;
      margin-top: 15px;
    }
    h4 {
      text-align: center;
      margin-top: 15px;
    }
    body {
      background-image: linear-gradient(#8c8c8c, #bfbfbf);
    }
    a {
      color: #0055ff;
    }
  </style>
</head>

<body>

<div class="container">
  <h1>Gaëtan Michon</h1>
  <h4><a href="/">Click here for English</a></h4>
	<div class="row">
	  <img src="fb_profile_pic.jpg">
	  <img src="fb_cover_photo.jpg">
	  <div class="col-sm-10 offset-sm-1">
		  <p class="top-paragraph">C’est un avertissement à n’importe qui qui a peut-être d’affaires avec Gaëtan Michon : ne fait pas lui confiance ! Il louait une chambre dans mon appartement et me disait qu’il avait des difficultés de transférer d’argent aux Etats-Unis, donc je le donnais de temps avant qu’il faut payer. C’était une grave erreur, il s’est enfui et m’a bloquée sur les réseaux sociaux quand la date de paiement est arrivée.</p>
		  <img src="linkedin_photo.jpg">
		  <p>Je sais que mon argent est disparu. Mais je veux vous prévenir que vous ne pouvez pas lui faire confiance. Si vous êtes une propriétaire qui pense à lui louer, sachez qu’il évitera de vous payer. Si vous travaillerez avec lui dans un cadre professionnel, sachez qu’il n’hésitera pas à vous mentir pour avancer sa position, peu importe la taille du bénéfice.</p>
		  <p class="bottom-paragraph">Alors, je ne veux pas impliquer un Gaëtan Michon innocent, donc je vais le décrire : il est un grand, pâle français, dans sa vingtaine. Il va à HEC Montréal et devrait obtenir son diplôme en 2019. Il est de Lyon. Il est un Leo, donc son anniversaire est en août. Il est mince, il porte des chemises à col, et il met trop d’eau de Cologne.</p>
	  </div>
	</div>
</div>


</body>
</html>
