<!DOCTYPE html>
<html>
<head>
  <title>Soon</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<div class="container">
  <p>This is a warning to everyone who may have dealings with : do not trust him! He subletted a room in my flat, and told me that he was having trouble getting money transferred from his bank account into the US, so I gave him some time before he had to pay. This was a mistake, since he ran away and blocked me on Facebook as soon as the date came when he was supposed to pay me.</p>
  <p>Now, I know that the money is probably long gone. But I want to put out a warning that this man cannot be trusted. If you are a landlord considering renting to him, know that he will try to avoid paying you. If you are going to work with him in a professional capacity, be aware that he is not above lying to advance his own position, no matter how small the gain.</p>
  <p></p>
</div>


</body>
</html>
