<!DOCTYPE html>
<html>
<head>
  <title>Gaëtan Michon</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <style>
  	img {
  		margin: 0 auto;
  	}
  	.row {
  		text-align: center;
  		margin-top: 25px;
  	}
  	.bottom-paragraph {
  		margin-bottom: 60px;
  	}
  	.top-paragraph {
  		margin: 10px 0;
  	}
  	p {
  		text-align: left;
  	}
  	h1 {
  		text-align: center;
  		margin-top: 15px;
  	}
  	body {
  		background-image: linear-gradient(#8c8c8c, #bfbfbf);
  	}
  </style>
</head>

<body>

<div class="container">
  <h1>Gaëtan Michon</h1>
	<div class="row">
	  <img src="public/assets/fb_profile_pic.jpg">
	  <img src="public/assets/fb_cover_photo.jpg">
	  <div class="col-sm-10 offset-sm-1">
		  <p class="top-paragraph">This is a warning to anyone who may have dealings with Gaëtan Michon: do not trust him! He subletted a room in my flat, and told me that he was having trouble getting money transferred from his bank account into the US, so I gave him some time before he had to pay. This was a mistake, since he ran away and blocked me on Facebook as soon as the date came when he was supposed to pay me.</p>
		  <img src="public/assets/linkedin_photo.jpg">
		  <p>I know that the money is long gone. But I want to put out a warning that this man cannot be trusted. If you are a landlord considering renting to him, know that he will try to avoid paying you. If you are going to work with him in a professional capacity, be aware that he is not above lying to advance his own position, no matter how small the gain.</p>
		  <p class="bottom-paragraph">Now, I don't want to implicate an innocent Gaëtan Michon, so I'm going to describe this one: He is a tall, pale Frenchman in his 20s. He is attending HEC Montreal, and is set to graduate in 2019. He is from Lyon. He is a Leo - his birthday is sometime in August. He is lean, and wears collared shirts and too much cologne.</p>
	  </div>
	</div>
</div>


</body>
</html>
